body{
    cursor: url(assets/Cursor_forgetful.gif), auto;
    background-image: url(assets/Sloppy_joe_sandwich_with_French_fries_edit2.jpg);
    background-repeat: repeat;
    background-size: 1000px;
    background-position: 50%;
    /* filter: contrast(200%); */
}

.slime {
    filter: hue-rotate(90deg) drop-shadow(300px 10px 40px #646c5c);
    height: 1000px;
    width: 1000px;
    transition: 2s ease-in-out;
    border: double 50px;
    border-color: #ded5c4;
    border-radius: 500px;
    opacity: 99%;
    /* transform: skew(5deg); */
    /* mix-blend-mode:difference; */
    /* z-index: 0; */
}

.slime:hover {
    filter: hue-rotate(170deg);
    height: 1051px;
    width: 1052px;
    border: double 51px;
    border-color: #c40a0b;
    transition: 1s ease-in-out;
}

#first {
/* translate: -150px; */
margin: auto;
width: 20%;
}

#text-one {
    font-family:fantasy;
    font-size:140px;
    color:#c40a0b;
    position: fixed;
    z-index: 0;
    mix-blend-mode: difference;
    filter: saturate(200%) contrast(400%);
    transform: skew(30deg) translateX(-270px);
    background-image: url(assets/Empty_bedroom_\(4103505582\).jpg);
}

#must {
    color: #646c5c;
    filter: drop-shadow(30px 10px 4px #256c5c);
    font-size: 160px;
}

.gifs {
    scale: 400%;
    filter: hue-rotate(10deg) saturate(400%) drop-shadow(30px 10px 4px #256c5c);
    transform: skew(10deg);
    image-rendering: pixelated;
    transition: 1s ease-in;
}

#song {
    /* height: 400px; */
    margin: auto;
    /* width: 20%; */
    translate: 400px;
    padding: 20px;
    mix-blend-mode: exclusion;
    position: fixed;
    z-index: 1; 
}