@font-face {
    font-family: 'computer modern';
    src: url(fonts/cmunbi.ttf);
}


body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 72px;
    color: forestgreen;
    background-image: url("images/tealGeo.png");
    background-blend-mode: screen;
    /* filter: blur(1px); */
    background-color:whitesmoke;
}

a {
    font-size: 36px;
    color: darkgrey;
    text-decoration: none;
}

a:hover {
    font-size: 36px;
    color: darkslategrey;
    transition: 2s;
}

.grid-container{
    display: flex;
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr); */
    justify-content: space-around;
    margin:auto;
    padding-bottom: 2%;
    filter: drop-shadow(5px 10px teal) drop-shadow(-5px -5px yellow);
    mix-blend-mode: hard-light;
}

.flex-item{
    padding: 10px;
}

#nuclear {
    background-image: url(images/building1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-self: center;
    height: 200px;
    width: 200px;
    padding: 200px;
    /* mix-blend-mode: hard-ligh; */
    /* border-radius: 200px; */
}
#nuclear:hover {
    background-image: 
    url(images/darkbricks.jpg);
    transition: 2s;
}

#startertext{
    font-size: 36px;
    color: whitesmoke
    /* z-index: 1; */
    text-decoration: none;
    padding: 20px;
    mix-blend-mode: exclusion;
}

#startertext:hover{
    font-size: 36px;
    color: whitesmoke;
    text-decoration:wavy;
    padding: 100px;
    transition: 2s;
}

li{
    padding: 10px;
    border: black 10px solid;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
    margin: 100px;
    background-color: darkslategray;
}

#heron{
    background-image: url(images/heron3.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* opacity: 75%; */
    height: 300px;
    width: 200px;
    position: fixed;
    top: 80px;
    left: 410px;
    mix-blend-mode: color;
}

#heron:hover{
    transform:scale(2) matrix(.2, 1, 1, 0, 0, 0);
    opacity: 50%;
    transition: 2s;
}

@media only screen and (max-width: 600px) {
    body {
            background-color: whitesmoke;
         }
    }