@font-face {
    font-family: Gensco;
    src: url(fonts/GENSCO.otf);
}

body {
    cursor: url(assets/Cursor_Trail.png), auto;
    font-family: Gensco;
}

#title {
    font-size: 170px;
    color: grey;
    /* border: dashed 20px; */
    /* border-radius: 1%; */
    line-height: 55%;
    padding: 100px;
    margin: auto;
    width: 20%;
    position: absolute;
    left: 1%;
    background-size: 110%;
    background-position: 70%;
    filter: contrast(150%) hue-rotate(25deg) drop-shadow(35px 10px 20px #FAE1E1) blur(5px);
    mix-blend-mode: overlay;
    z-index: 1;
}

#roadSign {
    margin: auto;
    width: 100%;
    padding: none;
    filter: saturate(110%) contrast(120%);
}

#opening {
        transform: translate(0px, 300pxs);
}

#uncertain {
     position: absolute;
     padding: 100px;
     /* top: 15%; */
     left: 70%;
     margin: auto;
     width: 200px;
     mix-blend-mode:hue;
     filter: blur(5px) drop-shadow(33px 20px 20px #FAE1E1);
     z-index: 1;
}

#in {
    position: absolute;
    font-size: 80px;
    color: green;
    left: 65%;
    top: 120%;
    margin: auto;
    mix-blend-mode: luminosity;
    filter: blur(2px);
    transition: linear 1s;
}

#out {
    position: absolute;
    font-size: 80px;
    color: green;
    left: 109%;
    top: 72%;
    margin: auto;
    mix-blend-mode: luminosity;
    filter: blur(2px);
    transition: linear 1s;
}

#in:hover {
    font-size: 40px;
    color: #FAE1E1;
    transition: linear 1s;
}

#out:hover {
    font-size: 120px;
    color: #FAE1E1;
    transition: linear 1s;
}

#forked {
    filter: saturate(120%);
    width: 2500px;
}

#vector {
    position: absolute;
    scale: .75;
    left: 69%;
    top: 87%;
    filter: blur(5px) saturate(150%);
    margin: auto;
    transition: ease-in-out 2s;
}

#vector:hover {
    transform: rotate(180deg);
    transition: ease-in-out 2s;
}

#loading {
    margin: auto;
    background-image: url(assets/progress_bar1.Gif);
    background-repeat: repeat;
}

#heart1 {
    margin: auto;
    width: 100%;
    filter: contrast(150%);
}

#follow {
    font-size: 80px;
    text-align: center;
    padding: 10px;
    background-image: url(assets/heart2.gif);
    background-size: contain;
    filter: drop-shadow(2px 2px 2px);
    /* margin: auto;
    width: 100%;  */
}

#endU {
font-size: 40px;
}

#bird-flying {
    background-image: url(assets/Clouds_\(transparent\).png);
    background-size: 150%;
}

#sad_face {
    position: absolute;
}

#lost_and_found {
   position: absolute;
   left: .55%;
   top: 101%;
}

#erowid {
    position: absolute;
    left: 37%;
    top: 30%;
    scale: 150%;
    filter: hue-rotate(50deg);
}

#curved_arrow {
    width: 400px;
    /* background-image: url(assets/cavern.png); */
    background-size: cover;
    mix-blend-mode: overlay;
    /* filter: invert(100%); */
    position: absolute;
    filter: blur(10px);
    z-index: 1;
    left: 70%;
    top: 53%;
}

#face {
    width: 300px;
    position: absolute;
    left: 70%;
    top: 43%;
    rotate: 75deg;
    filter: blur(1px);
}

#tape {
    display: flex;
    justify-content: space-around;
}

#dedication {
    position: absolute;
    width: 497px;
    height: 640px;
    top: 1%;
    left: 50%;

}

#spool {
    position: absolute;
    width: 497px;
    height: 640px;
    top: 1%;
    left: 50%;
    mix-blend-mode:overlay;
    filter: contrast(200%);
}

#heat {
    position: absolute;
    height: 640px;
    top: 17%;
    left: 80%;
    transition: ease-in-out 2s;
    mix-blend-mode: screen;
    filter: hue-rotate(0deg) saturate(200%) invert(1);
}

#heat:hover {
    transition: ease-in-out 2s;
    filter: hue-rotate(200deg) saturate(200%) invert(1);
}

#woods {
    width: 1920px;
    height: 100px;
    background-image: url(assets/woods.gif);
    filter: contrast(400%);
}

#green_pool {
    filter: contrast(400%);
}

#green {
    color: green;
    font-size: 110px;
    position: absolute;
    top: 54%;
    left: 54%;
    mix-blend-mode: color;
    filter: blur(3px) drop-shadow(2px 2px 20px red);
    transition: linear 1s;
}

#green:hover {
    color: antiquewhite;
    transition: linear 1s;
}

#green_river {
    filter: contrast(150%) blur(2px);
}

#brewing {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 1920px;
    top: 1%;
    left: 1%;
    mix-blend-mode: difference;
    z-index: 1;
}

#sad-sorry {
    position: absolute;
    top: 100%;
    left: 85%;
    mix-blend-mode: multiply;
}

#proverb {
    position: absolute;
    top: 3%;
    left: 75%;
}

#dialogue {
    font-size: 30px;
    line-height: 1.5;
    padding: 100px;
    border: solid;
    width: 300px;
    background-color: white;
    position: absolute;
    top: 100%;
    left: 5%;
    filter: drop-shadow(10px 2px 20px);
}

#dialogue2 {
    font-size: 30px;
    line-height: 1.5;
    padding: 100px;
    border: solid;
    width: 300px;
    background-color: white;
    position: absolute;
    top: 2200px;
    left: 5%;
    filter: drop-shadow(10px 2px 20px);
}

.rains {
    display: block;
}

#rockwool {
    z-index: 0;
}

#fibers {
    display: block;
}

#insulation {
    display: block;
}

#forgery {
    position: fixed;
    /* top: 3660px;
    left: 750px; */
    mix-blend-mode: saturation;
}

#Run {
    font-size: 65px;
    text-align: center;
    line-height: 1.5;
    /* padding: 100px; */
    transform: translateX(500px);
    border: solid;
    width: 300px;
    background-color: white;
    filter: drop-shadow(10px 2px 20px);
}

#scan {
    display: block;
    margin: auto;
    width: 20%;
    height: 975px;
    width: 770px;
    background-image: url(assets/ride_crop.gif);
    background-size: contain;
    background-position: center;
    filter: blur(1px) contrast(150%) invert(1);
}

#Escape {
    font-size: 80px;
    margin: auto;
    width: 20%;
    text-align: center;
}

#directions {
    position: fixed;
    margin: auto;
    width: 40%;
    scale: 2;
    mix-blend-mode: difference;
    filter: blur(5px) drop-shadow(2px 2px 2px);
    opacity: 99%;
    z-index: 1;
}

#eggs {
    display: flex;
    justify-content: center;
    filter: grayscale(1);
    z-index: 999;
    transform: translateX(500px);
}

#cons {
    font-size: 20px;
    padding: 10px;
    /* text-align: center; */
    position: absolute;
    top: 3%;
    left: 10%;
    line-height: .001;
    border: solid;
    width: 170px;
    background-color: white;
    filter: drop-shadow(2px 2px 2px);
}

#kudzu {
    filter: grayscale(1) contrast(150%) saturate(120%) blur(30px);
    transition: ease-in-out 5s;
    z-index: 0;
}

#kudzu:hover {
    filter: grayscale(0) contrast(100%) saturate(130%);
    transition: ease-in-out 5s;
}

#green_fall {
    border: solid 5px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 20%;
    height: 1080px;
    width: 1080px;
    background-image: url(assets/green_fall.gif);
}

#swarm {
    mix-blend-mode: multiply;
    filter: contrast(125%);
}

#behind {
    background-color: black;
    height: 1080px;
    width: 1260px;
    display: flex;
    justify-content: center;
    align-items: center;
     margin: auto;
     border-radius: 100px;
}

#ad {
    /* background-color: grey; */
    display: block;
    line-height: .5;
    border-radius: 5px;
    color: white;
    font-size: 80px;
    margin: auto;
    width: 400px;
    text-align: center;
    text-shadow: 1px 1px 1px #FAE1E1;
}

a {
    text-decoration: none;
}

.np_ads {
    display: block;
    margin: auto;
    width: 100%;
}

#wash {
    display: block;
    line-height: .5;
    border-radius: 5px;
    color: white;
    font-size: 160px;
    margin: auto;
    width: 800px;
    text-align: center;
    text-shadow: 1px 1px 1px #FAE1E1;
    transform: translateY(-200px);
    transition: linear 1s;
}

#wash:hover {
    display: block;
    line-height: .5;
    border-radius: 5px;
    color: white;
    font-size: 160px;
    margin: auto;
    width: 800px;
    text-align: center;
    text-shadow: 10px 10px 2px #FAE1E1;
    transform: translateY(-200px);
    transition: linear 1s;
}

#blotter {
    display: flex;
    justify-content: space-between;
    flex-direction:row;
    width: 1000px;
    border: solid;
}

#blotter2 {
    display: flex;
    justify-content: space-between;
    flex-direction:row;
    width: 800px;
    border: solid;
}

#vestry {
    display: flex;
    border: solid;
    z-index: 999;
}

#netting {
    position: absolute;
    top: 8px;
    left: 70%;
    height: 1000px;
    width: 400px;
    background-image: url(assets/netting.jpg);
    filter: grayscale(1) contrast(400%) blur(5px);
}

#book {
    border: solid;
}

#diagram {
    margin: auto;
    width: 100px;
    transform: translateX(180px) translateY(-389px);
    background-image: url(assets/Clouds_\(transparent\).png);
    background-size: cover;
}

#downward_arrow {
    position: fixed;
    mix-blend-mode: difference;
    z-index: 0;
}

#heim2 {
    filter: hue-rotate(130deg) saturate(200%) blur(50px);
}

#transparent_room {
display: flex;
justify-content: center;
align-content: space-evenly;
/* border: dashed; */
}

#room_bg {
    width: 1208px;
    height: 1200px;
    background-image: url(assets/Transparent_room_icon.png);
    /* background-size: contain; */
    background-repeat: repeat;
    background-position: 20%;
    border: solid;
}

#going {
    font-size: 60px;
    width: 50px;
    color: gainsboro;
}

#going::selection {
    color: black;
}

#dead_end {
    filter: grayscale(1) contrast(240%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#dead_arrow {
    filter: drop-shadow(2px 2px 2px);
}

#windy {
    display: flex;
    justify-content: center;
    align-items: center;
}