/* @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  } */

body{
    cursor: url(images/headCursor.png), auto;
}

.about {
    margin: auto;
    width: 20%;
}

#about {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 48px;
    position: fixed;
    border: solid white 50px;
    border-style:dashed;
    padding: 30px;
    border-radius: 10%;
    filter: blur(4px);
    mix-blend-mode: difference;
    z-index: 1;
    transition: 1s ease-in-out;
}

#about:hover {
    filter: blur(0px);
    transition: 1s ease-in-out;
}

#about2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 48px;
    position:fixed;
    border: solid white 5px;
    border-style:groove; 
    margin-left: 10px;
    padding: 5px;
    border-radius: 15%;
    filter: blur(4px) drop-shadow(50px 50px);
    mix-blend-mode: difference;
    z-index: 1;
    transition: 1s ease-in-out;
}

#about2:hover {
    filter: blur(2px);
    transition: 1s ease-in-out;
}

#about3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 48px;
    position:fixed;
    translate: 890px;
    border: solid white 5px;
    border-style:groove; 
    margin-left: 10px;
    padding: 5px;
    border-radius: 15%;
    filter: blur(4px) drop-shadow(50px 50px);
    mix-blend-mode:hard-light;
    z-index: 1;
    transition: 1s ease-in-out;
}

#about3:hover {
    filter: blur(2px);
    transition: 1s ease-in-out;
}

.container {
    overflow: hidden;
}

.sliding-background {
    background: url("images/sliding-background-template6.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 60s linear infinite;
}

.sliding-background2 {
    background: url("images/sliding-background-template3.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 30s linear infinite;
}

.sliding-background3 {
    background: url("images/sliding-background-template2.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 20s linear infinite;
}

.sliding-background4 {
    background: url("images/sliding-background-template7.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 5s linear infinite;
}

.sliding-background5 {
    background: url("images/sliding-background-template8.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 5s both infinite;
}

.sliding-background6 {
    background: url("images/sliding-background-template11.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 15s linear infinite;
}

.sliding-background7 {
    background: url("images/sliding-background-template10.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 14s linear infinite;
}

.sliding-background8 {
    background: url("images/sliding-background-template15.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 13.5s linear infinite;
}

.sliding-background9 {
    background: url("images/sliding-background-template17.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 24s linear infinite;
}

.sliding-background10 {
    background: url("images/sliding-background-template16.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 13s linear infinite;
}

.sliding-background11 {
    background: url("images/sliding-background-template13.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 20s linear infinite;
}

.sliding-background12 {
    background: url("images/sliding-background-template14.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 16s linear infinite;
}

.sliding-background13 {
    background: url("images/sliding-background-template18.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 17s linear infinite;
}

.sliding-background14 {
    background: url("images/sliding-background-template19.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 17s linear infinite;
}

.sliding-background15 {
    background: url("images/sliding-background-template20.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 33s linear infinite;
}

.sliding-background16 {
    background: url("images/sliding-background-template22.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 12s linear infinite;
}

.sliding-background17 {
    background: url("images/sliding-background-template21.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 12s linear infinite;
}

.sliding-background18 {
    background: url("images/sliding-background-template23.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 12.2s linear infinite;
}

.sliding-background19 {
    background: url("images/sliding-background-template25.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 12s linear infinite;
}

.sliding-background20 {
    background: url("images/sliding-background-template26.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 11s linear infinite;
}

.sliding-background21 {
    background: url("images/sliding-background-template24.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 10s linear infinite;
}

.sliding-background22 {
    background: url("images/sliding-background-template27.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 33s linear infinite;
}

.sliding-background23 {
    background: url("images/sliding-background-template28.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 43s linear infinite;
}

.sliding-background24 {
    background: url("images/sliding-background-template29.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 1s linear infinite;
}

.sliding-background25 {
    background: url("images/sliding-background-template30.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 7s linear infinite;
}

.sliding-background26 {
    background: url("images/sliding-background-template31.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 8s linear infinite;
}

.sliding-background27 {
    background: url("images/sliding-background-template32.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 16.5s linear infinite;
}

.sliding-background28 {
    background: url("images/sink.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 7.5s linear infinite;
}

.sliding-background29 {
    background: url("images/or.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 6.5s linear infinite;
}

.sliding-background30 {
    background: url("images/swim.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 21.5s linear infinite;
}

.sliding-background31 {
    background: url("images/sliding-background-template33.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 10.5s linear infinite;
}

.sliding-background32 {
    background: url("images/sliding-background-template34.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 29.5s linear infinite;
}

@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-1692px, 0, 0);
    }
}

.aboutPage-body {
    background-image: url(images/forest.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#testImage {
    background: url("images/calculator2.gif");
    background-size: cover;
    height: 1000px;
    width: 1000px;
    /* margin: auto; */
    margin-top: 10px;
    margin-left: 250px;
    filter: drop-shadow(2px 5px);
    transform: scale(54%);
    mix-blend-mode: luminosity;
    z-index: 1;
}

.text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 86px;
    color:white;
    margin: auto;
    mix-blend-mode: hard-light;
    filter: blur(8px);
    transform: scale(250%) skew(70deg);
    transition: ease-in-out 1s;
    z-index: 1;
}

.text:hover {
    filter: blur(4px);
    transform: scale(150%) skew(0deg);
    transition: ease-in-out 1s;
}

#fill {
    background: url(images/mosaic.png);
    background-size: contain;
    height: 1000px;
    width: 500px;
    margin: -600px;
    margin-left: 400px;
    margin-top: -200px;
    z-index: 1;
    mix-blend-mode: difference;
    filter: blur(100px);
}

#nextBody {
    background-image: url(images/powerplant.gif);
    background-size: cover;
    height: 1140px;
    width: 1140px;
    margin: auto;
}

#scribble {
    background: url(images/marks.gif);
    background-size: auto;
    background-repeat: repeat;
    height: 1140px;
    width: 1140px;
    /* border-radius: 50%; */
    border-image: url(images/headCursor.png) 7 fill / 3px / 150px round;
    image-rendering:optimizeSpeed;
    /* transform:translate(200px); */
    filter: invert(70%) drop-shadow(500px);
    margin: auto;
    mix-blend-mode: color-burn;
}

#textBox {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    text-align: center;
    background-color: white;
    width: 380px;
    transform: translateY(80px);
    background-repeat: repeat-x;
    border-radius: 20px;
    box-shadow: 5px 5px;
    /* background: url(images/mountain.png); */
    filter: blur(2px);
    z-index: 1;
}
