/* @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  } */

body{
    cursor: url(images/headCursor.png), auto;
}

.about {
    margin: auto;
    width: 20%;
}

#about {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 48px;
    position: fixed;
    border: solid white 50px;
    border-style:dashed;
    padding: 30px;
    border-radius: 10%;
    filter: blur(4px);
    mix-blend-mode: difference;
    z-index: 1;
    transition: 1s ease-in-out;
}


#about:hover {
    filter: blur(0px);
    transition: 1s ease-in-out;
}

.container {
    overflow: hidden;
}

.sliding-background {
    background: url("images/sliding-background-template6.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 60s linear infinite;
}

.sliding-background2 {
    background: url("images/sliding-background-template3.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 30s linear infinite;
}

.sliding-background3 {
    background: url("images/sliding-background-template2.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 20s linear infinite;
}

.sliding-background4 {
    background: url("images/sliding-background-template7.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 5s linear infinite;
}

.sliding-background5 {
    background: url("images/sliding-background-template8.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 5s both infinite;
}

.sliding-background6 {
    background: url("images/sliding-background-template11.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 15s linear infinite;
}

.sliding-background7 {
    background: url("images/sliding-background-template10.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 14s linear infinite;
}

.sliding-background8 {
    background: url("images/sliding-background-template15.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 13.5s linear infinite;
}

.sliding-background9 {
    background: url("images/sliding-background-template17.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 24s linear infinite;
}

.sliding-background10 {
    background: url("images/sliding-background-template16.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 13s linear infinite;
}

.sliding-background11 {
    background: url("images/sliding-background-template13.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 20s linear infinite;
}

.sliding-background12 {
    background: url("images/sliding-background-template14.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 16s linear infinite;
}

.sliding-background13 {
    background: url("images/sliding-background-template18.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 17s linear infinite;
}

.sliding-background14 {
    background: url("images/sliding-background-template19.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 17s linear infinite;
}

.sliding-background15 {
    background: url("images/sliding-background-template20.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 33s linear infinite;
}

.sliding-background16 {
    background: url("images/sliding-background-template22.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 12s linear infinite;
}

.sliding-background17 {
    background: url("images/sliding-background-template21.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 12s linear infinite;
}

.sliding-background18 {
    background: url("images/sliding-background-template23.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 12.2s linear infinite;
}

.sliding-background19 {
    background: url("images/sliding-background-template25.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 12s linear infinite;
}

.sliding-background20 {
    background: url("images/sliding-background-template26.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 11s linear infinite;
}

.sliding-background21 {
    background: url("images/sliding-background-template24.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 10s linear infinite;
}

.sliding-background22 {
    background: url("images/sliding-background-template27.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 33s linear infinite;
}

.sliding-background23 {
    background: url("images/sliding-background-template28.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 43s linear infinite;
}

.sliding-background24 {
    background: url("images/sliding-background-template29.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 1s linear infinite;
}

.sliding-background25 {
    background: url("images/sliding-background-template30.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 7s linear infinite;
}

.sliding-background26 {
    background: url("images/sliding-background-template31.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 8s linear infinite;
}

.sliding-background27 {
    background: url("images/sliding-background-template32.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 16.5s linear infinite;
}

.sliding-background28 {
    background: url("images/sink.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 7.5s linear infinite;
}

.sliding-background29 {
    background: url("images/or.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 6.5s linear infinite;
}

.sliding-background30 {
    background: url("images/swim.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 21.5s linear infinite;
}

.sliding-background31 {
    background: url("images/sliding-background-template33.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 10.5s linear infinite;
}

.sliding-background32 {
    background: url("images/sliding-background-template34.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 29.5s linear infinite;
}

@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-1692px, 0, 0);
    }
}

.aboutPage-body {
    background-image: url(images/forest.png);
    background-repeat: repeat;
    background-size: cover;
    /* filter: blur(2px); */
}

#testImage {
    background: url("images/calculator2.gif");
    background-size: cover;
    height: 1000px;
    width: 1000px;
    margin: auto;
    filter: drop-shadow(2px 5px);
    transform: scale(34%);
    mix-blend-mode:multiply;
    z-index: 1;
}

.text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 86px;
    color:white;
    margin: auto;
    mix-blend-mode: hard-light;
    filter: blur(2px);
    transform: scale(300%) skew(0deg);
    transition: ease-in-out 1s;
    z-index: 1;
}

.text:hover {
    /* color: green; */
    transform: scale(100%) skew(0deg);
    transition: ease-in-out 1s;
}