.container {
    overflow: hidden;
}

.sliding-background {
    background: url("images/sliding-background-template6.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 60s linear infinite;
}

.sliding-background2 {
    background: url("images/sliding-background-template3.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 30s linear infinite;
}

.sliding-background3 {
    background: url("images/sliding-background-template2.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 20s linear infinite;
}

.sliding-background4 {
    background: url("images/sliding-background-template7.png") repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 5s linear infinite;
}

@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-1692px, 0, 0);
    }
}