@font-face {
    font-family: 'bianzhidai Pearl';
    src: url(../../fonts/bianzhidai-Pearl.otf);
}

body{
    width: 500px;
    margin: 2%;
    display: flex;
    align-items: center;
    
}

.dragme{
    position:relative;
    cursor: move;
    z-index: 1;
}

#text{
    display: flex;
    z-index: 2;
    font-family: 'bianzhidai Pearl';
    padding: 10px;
    text-align: center;
    border: 1px dashed black;
    border-radius: 5px;
    font-size: 45px;
    width: 500px;
    box-shadow: 10px 10px;
}

#phoenix{
    opacity: 100%;
    mix-blend-mode: difference;
}

#invaders{
    opacity: 100%;
    mix-blend-mode: difference;
}

#video{
    display: flex;
    justify-self: flex-end;
    align-self: baseline;
}


.center{
    margin-left: -400px;
    /* margin-bottom: -100px; */
}