@font-face {
    font-family: 'ITC Garamond Italic';
    src: url(../../../fonts/font-italic.woff);
    src: url(../../../fonts/font-italic.woff2);
}

body{
    width: 500px;
}

.dragme{
    position:relative;
    cursor: move;
    z-index: 1;
}

#text{
    z-index: 2;
    font-family: 'ITC Garamond Italic';
    padding: 20px;
    text-align: center;
    border: 1px solid black;
    font-size: 70px;
}