@font-face {
    font-family: 'bianzhidai Pearl';
    src: url(../../fonts/bianzhidai-Pearl.otf);
}

body{
    width: 500px;
}

.dragme{
    position:relative;
    cursor: move;
    z-index: 1;
}

#text{
    z-index: 2;
    font-family: 'bianzhidai Pearl';
    padding: 5px;
    text-align: left;
    border: 1px dashed black;
    font-size: 40px;
}

#phoenix{
    opacity: 100%;
    mix-blend-mode: difference;
}

#invaders{
    opacity: 100%;
    mix-blend-mode: color-burn;
}

#video{
    display: grid;
    align-content: start;
}


.center{
    margin-left: 400px;
}