body{
    font-family: fantasy;
    font-size: 22.8px;
    padding-top: 20px;
    width: 800px;
    margin: auto;
    background-color: white;
}

#beasts{
    width: 800px;
    margin: auto;
    display: flexbox;
    align-items: center;
    padding-bottom: 200px;
    opacity: .85;
    image-rendering: pixelated;
}
@media only screen and (max-width: 600px) {
    body {
            background-color: white;
         }
    }