@font-face {
    font-family: 'Garamondt Regular';
    src: url(../../fonts/Garamondt-Regular.otf);
    
}

@font-face {
    font-family: 'Garamondt Italic';
    src: url(../../fonts/Garamondt-Italic.otf);
}


#appear{
    display: none;
}


p {
    font-size: 90px;
    font-family: 'Garamondt Regular';
    src: url(../../fonts/Garamondt-Regular.otf);
}


p:hover{
    text-decoration: underline;
    filter: drop-shadow(3px 100px 4px #000000);
    color: white;
    transition: 2s;
}

#building{
    margin: auto;
    display: grid;
    align-content: center;
    filter: contast (100) hue-rotate(0) drop-shadow(3px 100px 4px #000000);
}

#building:hover{
    filter: contrast(0%) hue-rotate(170deg);
    transition: 8s;
    transform:skew(80deg, 110deg);
    transition: 8s;
}